.reminders-container {
  margin-top: 20px;

}

.reminders-title {
  margin-bottom: 10px;
}

.reminders-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reminders-container th,
.reminders-container td {
  padding: 8px;
  border: 1px solid #ccc;
}

.reminders-container th {
  background-color: #f2f2f2;
}

.reminders-container td {
  text-align: center;
}

.reminders-container svg {
  cursor: pointer;
}
