.pet-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #F5F5F5;
  border: 1px solid #FCF6D9;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
  gap: 70px;
}

.content-section {
  border: 1px solid #FCF6D9;
  padding: 16px;
  
}
.info-section {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 60px; 
  border: 2px solid #FCDC49;
  border-radius: 10px;
  padding: 20px;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.profile-picture p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #FCF6D9;
}

.profile-info {
  flex: 1;
}

.pet-profile h3 {
  margin-bottom: 8px;
}

.pet-profile p {
  margin-bottom: 4px;
} 

.weight-section {
  border: 1px solid #FCF6D9;
  padding: 16px;
}

.content-section:not(:first-child) {
  margin-top: 24px;
}

.content-section button {
  padding: 7px 15px;
  background-color: #FCDC49;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.content-section button:hover {
  background-color: darkgray;
  color: white;
}

@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr;
  }
}
