.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  .login-form label {
    margin-bottom: 8px;
  }
  
  .login-form input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .login-form button {
    padding: 8px 16px;
    background-color: #FCDC49;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: darkgrey;
  }
  
  .message {
    text-align: center;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }